/* ---------- */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

button {
    width: 25%;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“" "”" "‘" "’";
    font-size: 36px;
    color: #1f2937;
    width: 900px;
    font-style: italic;
  }

figcaption {
    text-align: right;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}

.inner {
    width: 1200px;
}


/* -----HEADER----- */

.header {
    justify-content: space-between;
    background: #1f2937;
    padding: 30px 180px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    gap: 100px;
}

.hero {
    gap: 20px;
    background: #1f2937;
    color: #f9faf8;
    padding: 60px;
}

.left-hero {
    flex-direction: column;
    flex: 1;
}

.left-hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding-right: 120px;
}

.left-hero p {
    width: 500px;
    margin: 10px 0;
}

.right-hero {
    flex: 1;
    align-items: center;
    justify-content: center;
    background: #7f828f;
}


/* -----BODY----- */

.info-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    padding-bottom: 20px;
}

.info-section {
    flex-direction: column;
    padding: 10px 0 100px 0;
}

.info-boxes {
    gap: 60px;
}

.box-shape {
    border: #3882f6 solid 4px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.info-text {
    text-align: center;
    width: 180px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 40px;
}

.call-to-action {
    margin: 40px;
    padding: 40px;
}

.call-to-action .inner {
    background-color: #3882f6;
    border-radius: 10px;
}

.cta-text {
    flex: 1.5;
    margin-left: 100px;
    color: #f9faf8;
}

.cta-button {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 100px;
}

.cta-button button {
    align-self: center;
    height: fit-content;
    border: #f9faf8 solid 2px;
}


/* -----FOOTER----- */

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
}